<div class="navSection">
  <ul class="nav justify-content-center navBar">
    <li class="nav-item">
      <a
        class="nav-link badge bg-secondary navItem"
        aria-current="page"
        [routerLink]="['add-student']"
        >Student Form</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link badge bg-dark navItem" [routerLink]="['student-list']"
        >Student List</a
      >
    </li>
  </ul>
</div>
<hr />

<!-- <div [ngbNavOutlet]="nav" class="mt-2"></div>

<pre>Active: {{ active }}</pre> -->
